@tailwind base;
@tailwind components;
@tailwind utilities;
@import './fonts/NeueMontreal/neueMontreal.scss';
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;0,400;0,800;1,200;1,400;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,800;1,600;1,800&display=swap');

@layer base {
  html::selection {}
}

@layer utilities {
  .text-outline {
    -webkit-text-stroke-width: 1px;
    -webkit-text-fill-color: transparent;

    &::before {
      content: attr(data-content);
      -webkit-text-stroke: 0;
      position: absolute
    }

    &-white {
      @extend .text-outline;
      -webkit-text-stroke-color: theme('colors.white');
    }

    &-main {
      @extend .text-outline;
      -webkit-text-stroke-color: theme('colors.main');
    }

    &-black {
      @extend .text-outline;
      -webkit-text-stroke-color: theme('colors.black');
    }
  }
}